html, body {
    margin: 0;
    padding: 0;
}

body {
    margin: 0 auto;
    height: 100vh;
    align-items: center;
    background: linear-gradient(to top left, #28b, #7dd);
    background-size: cover;
}

h1, p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    line-height: 1.3;
    width: 100%;
    padding: 30px;
    text-align: center;
    color: #fff;
}

p {
    font-size: 24px;
    line-height: 0.2;
}